User: {{question.author}}

Topic: {{question.topic}}

Text: {{question.text}}
<br>
{{#if isImageShowing}}
  <p><img src={{question.image}} {{action 'imageHide'}}></p>
{{else}}
  <button {{action 'imageShow'}}>Show image</button>
{{/if}}

<button {{action 'delete' question}}>Delete</button>
